* {
	font-family: "Arial";
	font-weight: 400;
}

html,
body,
.dropZone {
	height: 100%;
	margin: 0;
	padding: 0;
}

body,
.form,
.dropZone {
	background-color: transparent;
	text-align: center;
	vertical-align: middle;
}

.form {
	text-align: center;
	display: none;
}

.phantomFrame {
	width: 0px;
	height: 0px;
	display: none;
}

.message,
.messageWithEvents,
.buttonsZone {
	display: block;
	padding-top: 5px;
}

.buttonsZone {
	text-align: right;
	padding-right: 5px;
	margin-top: 5px;
}

.msgDetails {
	text-align: center;
	font-style: normal;
	font-size: 14px;
	font-weight: bold;
}

	/*.msgDetails > .error {
        color: #d53d3d;
        font-weight: bold;
    }*/

	.msgDetails > .error {
		font-weight: normal;
		color: #ffffff;
		background-color: #d53d3d;
		border-radius: 5px 5px 5px 5px;
		width: 85%;
		padding-top: 5px;
		padding-bottom: 5px;
		margin-left: auto;
		margin-right: auto;
		overflow: hidden;
		font-size: 12px;
		max-height: 30px;
		text-align: left;
		margin-bottom: 17px;
	}

		.msgDetails > .error > div {
			margin-left: auto;
			margin-right: auto;
			display: inline-flex;
			overflow: hidden;
			max-height: 30px;
		}

			.msgDetails > .error > div > span {
				overflow: hidden;
				text-overflow: ellipsis;
			}

			.msgDetails > .error > div > img {
				float: left;
				margin-right: 10px;
				margin-left: 10px;
				height: 16px;
			}


.title {
	padding-bottom: 13px;
	font-weight: bold;
	color: #4182c3;
}

.content {
	padding-left: 10px;
	padding-right: 10px;
}

.header {
	height: 15px;
}

.message,
.fa {
	pointer-events: none;
}

.fa-cloud-upload {
	color: #86a5d5;
}

.fa-check-circle {
	color: #5dca77;
}

.fa-exclamation-triangle {
	color: #f0ad4e;
}


button {
	font-size: 11px;
	padding: 1px 5px 2px 5px;
	margin-left: 2px;
	margin-right: 4px;
	border: 1px solid;
	border-radius: 3px;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;
	text-decoration: none;
	font-weight: 400;
	margin-bottom: 1px;
	border-color: #ccc;
	height: 22px;
	min-width: 60px;
	outline: none;
}

.btnPrimary {
	border-color: #194b87;
	background: linear-gradient(#0063af, #1b54ab);
	color: #ffffff;
	box-shadow: 0px 1px 1px #397eb8 inset;
}

	.btnPrimary:hover {
		background: linear-gradient(#007FC6, #0063ae);
		color: #ffffff;
	}
	.btnPrimary:disabled {
		Color: #707070 !important;
		border: 1px solid #B2B2B2 !important;
		background-color: #DADADA !important;
		background: linear-gradient(#dadada,#dadada) !important;
		cursor: default !important;
		box-shadow: none !important;
	}

.header {
	background-color: rgb(28, 84, 171);
	color: white;
	font-size: 14px;
	text-align: left;
	padding: 15px;
	font-weight: bold;
}


.message {
	pointer-events: none;
	font-size: 15px;
	font-weight: bold;
	min-height: 40px;
}

	.message > span {
		color: rgb(27, 84, 149);
		font-weight: bold;
	}

.status_img {
	margin-bottom: 10px;
	pointer-events: none;
}

	.status_img > img {
		-moz-user-select: none;
	}

.topCenterVertical {
	margin-top: 80px;
}

#dropHere {
	cursor: pointer;
}

.cantDrop {
	cursor: not-allowed !important;
}

#dropHere hr {
	width: 200px;
}

#dropHere input[type=text] {
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	color: #102d4f;
	padding: 2px 2px 2px 4px;
	line-height: 1rem;
	font-family: "Arial";
	font-weight: 400;
	font-size: 14px;
	box-sizing: border-box;
	margin: 0px 0px 0px -10px;
	min-height: 20px;
}

#dropHere input[type="radio"] {
	display: none;
}

#dropHere .radio label {
	padding: 0px 0px 5px 30px;
	display: inline-block;
	position: relative;
	border-radius: 3px;
	cursor: pointer;
}

	#dropHere .radio label::before {
		content: "";
		width: 17px;
		height: 17px;
		background: none;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid #c1c1c1;
		position: absolute;
		left: 5px;
	}

	#dropHere .radio label::after {
		content: "";
		width: 5px;
		height: 5px;
		background: none;
		display: inline-block;
		border-radius: 50%;
		border: 1px solid white;
		position: absolute;
		background-color: white;
		left: 11px;
		top: 6px;
	}

#dropHere input[type="radio"]:checked + label:before {
	background: rgb(28, 84, 171);
}

.button_actions {
	border-top: 1px solid #c1c1c1;
	height: 40px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

.secondary-button {
	background: linear-gradient(#f6f6f6, #d5d7d8);
	border: 1px solid #939598;
	color: #333333;
}

#redactions_confirmation div:nth-child(2) {
	color: #2f2f2f;
	margin-top: 20px;
	text-align: left;
	padding: 18px;
	font-weight: bold;
	font-size: 14px;
}

.redaction-warning {
	background-color: #fdde8a;
	height: 55px;
	display: block;
}

	.redaction-warning div:nth-child(1) {
		width: 70px;
		float: left;
		padding-left: 5px;
		height: 55px;
		padding-top: 14px;
		text-align: left;
	}

	.redaction-warning div:nth-child(2) {
		text-align: left;
		padding-top: 5px;
		font-size: 12px;
	}

.controlNumber {
	padding-top: 15px;
}

	.controlNumber > hr {
		margin-top: 2px;
	}

.controlNumber-label {
	width: 40%;
	float: left;
	text-align: right;
}

.controlNumber-selector {
	width: 60%;
	float: right;
	text-align: left;
}

.multiple-drop {
	margin: 15px;
	border: 2px dashed #c3d2e7;
	border-radius: 3px;
	user-select: none;
}

.fileList {
	overflow-y: scroll;
	height: 140px;
	max-height: 140px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 13px;
	font-size: 12px;
}

	.fileList .contentFile {
		display: flex;
		justify-content: center;
		margin-top: 5px;
	}

		.fileList .contentFile .label {
			order: 1;
			width: 120px;
			font-weight: 600;
			padding-top: 5px;
		}

		.fileList .contentFile .input {
			order: 2;
			width: 210px;
		}

			.fileList .contentFile .input input[type=text] {
				border: 1px solid #c1c1c1;
				border-radius: 3px;
				padding: 1px 1px 1px 3px;
				line-height: 1rem;
				font-family: "Arial";
				font-size: 11px;
				min-height: 20px;
				width: 97%;
			}

			.fileList .contentFile .input .inputMessage {
				display: flex;
				justify-content: center;
				text-align: left;
			}

				.fileList .contentFile .input .inputMessage .fileName {
					order: 1;
					width: 100%;
					font-size: 10px;
					color: #9e9e9e;
				}

				.fileList .contentFile .input .inputMessage .fileError {
					order: 1;
					width: 100%;
					color: #d74343;
				}

					.fileList .contentFile .input .inputMessage .fileError .confirm {
						color: black;
					}

				.fileList .contentFile .input .inputMessage .retry {
					order: 2;
					width: 13%;
					cursor: pointer;
					color: #2a5d9c;
					user-select: none;
				}

		.fileList .contentFile .fileIcon {
			order: 3;
			width: 20px;
			margin-left: 7px;
			padding-top: 4px;
			text-align: left;
		}

			.fileList .contentFile .fileIcon .remove {
				cursor: pointer;
				margin-left: 3px;
			}

	.fileList::-webkit-scrollbar-track {
		border-radius: 6px;
		background-color: transparent;
	}

	.fileList::-webkit-scrollbar {
		width: 6px;
		height: 6px;
		background-color: transparent;
	}

	.fileList::-webkit-scrollbar-thumb {
		width: 6px;
		border-radius: 3px;
		background-color: #ebebeb;
	}

.uploading {
	text-align: left;
	font-size: 14px;
	margin-left: 35px;
	margin-top: 15px;
	margin-right: 35px;
	margin-bottom: 14px;
}

	.uploading .time {
		display: inline-block;
		padding: 3px;
		position: absolute;
		padding-left: 5px;
	}

	.uploading .progressBar {
		width: 78%;
		height: 14px;
		background-color: #ddd;
		border-radius: 4px;
		padding: 4px;
		display: inline-block;
	}

		.uploading .progressBar #progressBar {
			width: 1%;
			height: 14px;
			background-color: #1c54ab;
			border-top-left-radius: 2px;
			border-bottom-left-radius: 2px;
		}

	.uploading .border {
		padding-bottom: 27px;
		border-bottom: 2px solid #ddd;
		width: 46%;
		margin-left: 27%;
	}

.warning-message {
	text-align: left;
	font-size: 12px;
	margin-left: 15px;
	margin-top: 13px;
	margin-right: 15px;
	margin-bottom: 13px;
	background-color: #ffe27e;
	padding: 20px;
}

	.warning-message .warning-icon {
		display: inline-block;
		margin-left: 5px;
		margin-right: 5px;
	}
	.warning-message .warning-div {
		display: inline-block;
	}
		.warning-message .warning-div .warning-bold {
			font-weight:bold !important;
		}
