@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div ng-controller="mfuctrl">
	<iframe id="frmDnd"
			name="frmDnd"
			class="phantomFrame"></iframe>
	<div>
		<div class="header">
			{{title}}
		</div>
		<div id="dropHere"
			 class="dropZone multiple-drop"
			 ng-click="simulateFileClick()"
			 ondragover="angular.element(this).scope().handleDragOver(event)"
			 ondragleave="angular.element(this).scope().handleDragLeave(event)"
			 ondrop="angular.element(this).scope().handleDnDFileSelect(event)"
			 dropzone="">
			<div class="status_img" ng-style="{'margin-top' : (files.length==0) ? '30px' : '15px' }">
				<img ng-if="status == 0 && files.length==0" src="~/Content/Images/Upload.png" />
				<img ng-if="status == 4 && files.length==0" src="~/Content/Images/Upload_Hover.png" />
			</div>
			<span id="msg" ng-show="showMessage" class="message">
				Drop your files here or
				<span> browse for files.</span>
			</span>
		</div>
		<div ng-if="files.length>0">
			<div class="fileList">
				<div ng-repeat="file in files track by $index">
					<div class="contentFile">
						<div class="label">
							Control Number:
						</div>
						<div class="input">
							<input type="text" ng-model="file.controlNumberText" ng-change="changeFile(file)" />
							<div ng-if="file.status==1" class="fileName">
								{{file.file.name}}
							</div>
						</div>
						<div class="fileIcon">
							<img src="~/Content/Images/delete.png" />
						</div>
					</div>
				</div>
				<div class="button_actions"
					 ng-if="files.length>0">
					<div class="buttonsZone">
						<button class="btnPrimary" ng-click="uploadFile(); $event.stopPropagation(); $event.preventDefault();">Upload</button>
						<button id="closeBtn" class="secondary-button" ng-click="close()">Cancel</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<input type="file"
		   id="file"
		   name="file"
		   class="form"
		   onchange="angular.element(this).scope().submitFrm();"
		   multiple />
	<form id="btiFormDD"
		  action="sfu/Upload?AppID=@ViewBag.AppID&fdv=@ViewBag.FDV&img=@ViewBag.ChangeImage"
		  enctype="multipart/form-data"
		  method="post"
		  class="form"
		  target="frmDnd">
	</form>
</div>
<script>
	if (window.frameElement != null) {
		window.frameElement.parentElement.style.height = "335px";
	}
</script>