<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="kCura" version="9.6.95.20" targetFramework="net462" />
  <package id="kCura.Config" version="9.5.464.1" targetFramework="net462" />
  <package id="kCura.Crypto" version="9.5.464.1" targetFramework="net462" />
  <package id="kCura.Data.RowDataGateway" version="9.5.464.1" targetFramework="net462" />
  <package id="kCura.EventHandler" version="9.6.79.10" targetFramework="net462" />
  <package id="kCura.Injection" version="9.6.95.20" targetFramework="net462" />
  <package id="kCura.Utility" version="9.5.464.1" targetFramework="net462" />
  <package id="Relativity.API" version="9.6.79.10" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.6.95.20" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Kepler.Service" version="1.0.1.445" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.311" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.159" targetFramework="net462" />
</packages>