<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="kCura.Config" version="9.5.142.26" targetFramework="net462" />
  <package id="kCura.Crypto" version="9.5.142.26" targetFramework="net462" />
  <package id="kCura.Data.RowDataGateway" version="9.5.142.26" targetFramework="net462" />
  <package id="kCura.Relativity.Client" version="9.5.142.26" targetFramework="net462" />
  <package id="kCura.Utility" version="9.5.142.26" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="6.0.1" targetFramework="net462" />
  <package id="Relativity.API" version="9.5.142.26" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.5.142.26" targetFramework="net462" />
  <package id="Relativity.Core" version="9.5.168.23" targetFramework="net462" />
  <package id="Relativity.ImportAPI.Wrapper" version="9.5.136.1" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.333" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.333" targetFramework="net462" />
  <package id="Relativity.Kepler.Service" version="1.0.1.333" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.308" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.19" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.5.142.26" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.5.142.26" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.5.142.26" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.139" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="9.5.142.26" targetFramework="net462" />
</packages>