<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BCrypt-Official" version="0.1.109" targetFramework="net462" />
  <package id="kCura" version="9.6.25.48" targetFramework="net462" />
  <package id="kCura.Config" version="9.5.394.69" targetFramework="net462" />
  <package id="kCura.Crypto" version="9.5.394.69" targetFramework="net462" />
  <package id="kCura.Data.RowDataGateway" version="9.5.394.69" targetFramework="net462" />
  <package id="kCura.Injection" version="9.6.26.25" targetFramework="net462" />
  <package id="kCura.OutsideIn.FI.Win32" version="2017.7.0" targetFramework="net462" />
  <package id="kCura.Relativity.Client" version="9.6.25.48" targetFramework="net462" />
  <package id="kCura.Utility" version="9.5.394.69" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="8.0.1" targetFramework="net462" />
  <package id="NuGetPowerTools" version="0.29" targetFramework="net462" />
  <package id="Polly" version="5.3.1" targetFramework="net462" />
  <package id="Relativity.API" version="9.6.25.48" targetFramework="net462" />
  <package id="Relativity.Authentication.Interfaces" version="9.6.25.48" targetFramework="net462" />
  <package id="Relativity.Core" version="9.5.280.38" targetFramework="net462" />
  <package id="relativity.faspmanager" version="3.7.2.0" targetFramework="net462" />
  <package id="Relativity.ImportExport" version="9.6.26.25" targetFramework="net462" />
  <package id="Relativity.Kepler" version="1.0.1.431" targetFramework="net462" />
  <package id="Relativity.Kepler.Client" version="1.0.1.431" targetFramework="net462" />
  <package id="Relativity.Kepler.Service" version="1.0.1.333" targetFramework="net462" />
  <package id="Relativity.Logging" version="9.4.308" targetFramework="net462" />
  <package id="Relativity.Logging.Interfaces" version="9.4.310" targetFramework="net462" />
  <package id="Relativity.SecretCatalog" version="1.0.19" targetFramework="net462" />
  <package id="Relativity.Services.DataContracts" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Services.Interfaces.Private" version="9.6.48.9" targetFramework="net462" />
  <package id="Relativity.Telemetry.DataContracts.Shared" version="9.4.159" targetFramework="net462" />
  <package id="Relativity.Telemetry.Services.Interface" version="9.6.28.15" targetFramework="net462" />
  <package id="Relativity.Toggles" version="1.0.0.84" targetFramework="net462" />
  <package id="relativity.transfer.client" version="1.2.20" targetFramework="net462" />
  <package id="SSH.NET" version="2016.0.0" targetFramework="net462" />
  <package id="ZetaLongPaths" version="1.0.0.16" targetFramework="net462" />
</packages>